*{
    margin: 20;
    padding: 20;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #F3F7FF;
    box-shadow: 0 0 10px rgba(4, 39, 238, 0.812);
    position: sticky;
    top: 0;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.icons input{
    padding: 5px;
}

.hero{
    height: 70vh;
    background: url('https://via.placeholder.com/1200x600') center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    color: #fff;
}

.hero button{
    padding: 10px 25px;
    margin-top: 10px;
    background: #ff9900;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.products{
    padding: 40px;
    text-align: center;
}

.product-grid{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.product{
    width: 220px;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 10px;
    transition: 0.3s;
}

.product:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.product img{
    width: 100%;
    border-radius: 10px;
}
.card-body{
    margin-top: 15px;
    width: 20px;
    height: 20px;
}